{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="card border-0">
            <img src="{% static 'media/facial.jpeg' %}" class="img-fluid" alt="nailcare">
            <!-- <div class="countaner-fluid img-fluid facial-image"></div> -->
            <div class="card-body container-fluid">
                <h2 class="card-title text-center mb-4">Facial</h2>
                {% for treatment in treatments %}
                    {% if treatment.category.name == 'Facials' %}
                        <div class="col">
                            <div class="row justify-content-center">
                                <div class="col-md-4 col-sm-12">
                                    <h5>{{ treatment.name }}</h5>
                                    <p>{{ treatment.description }}</p>
                                </div>
                                <div class="col-md-4 col-sm-12 text-end">
                                    €{{ treatment.price }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% include 'includes/icons.html' %}
        {% include 'includes/footer.html' %}
    </div>
{% endblock %}