{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="col text-center mt-4">
            <h2 class="logo-font">All Treatments</h2>
            <hr class="w-30">
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="col text-center">
                <h2>Nail Care</h2>
                </div>
                {% for treatment in treatments %}
                    {% if treatment.category.name == 'Nail Care' %}
                        <div class="col">
                            <div class="row">
                                <div class="col-8">
                                    <h5>{{ treatment.name }}</h5>
                                </div>
                                <div class="col text-end">
                                    €{{ treatment.price }}
                                </div>
                            </div>
                            <p>{{ treatment.description }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="col text-center mt-5">
                <h2>Eye Care</h2>
                </div>
                {% for treatment in treatments %}
                    {% if treatment.category.name == 'Eye Care' %}
                        <div class="col">
                            <div class="row">
                                <div class="col-8">
                                    <h5>{{ treatment.name }}</h5>
                                </div>
                                <div class="col text-end">
                                    €{{ treatment.price }}
                                </div>
                            </div>
                            <p>{{ treatment.description }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="col text-center">
                <h2>Facisls</h2>
                </div>
                {% for treatment in treatments %}
                    {% if treatment.category.name == 'Facials' %}
                        <div class="col">
                            <div class="row">
                                <div class="col-8">
                                    <h5>{{ treatment.name }}</h5>
                                </div>
                                <div class="col text-end">
                                    €{{ treatment.price }}
                                </div>
                            </div>
                            <p>{{ treatment.description }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% include 'includes/icons.html' %}
        {% include 'includes/footer.html' %}
    </div>
{% endblock %}