{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <img src="{% static 'media/background1.jpeg' %}" class="img-fluid nail-care-image" alt="nailcare">
        <div class="countainer-fluid mx-5">
            <h2 class="text-center mt-4">Get to know us better</h2>
            <p class="mt-4">
                Welcome to GlamDolls, a unique pampering experience. If you are looking to get ready for a special day,
                treat someone special by buying a gift card, or just looking to pamper yourself, our professionally trained
                 beauticians are ready to help!
            </p>
            <p>
                GlamDolls is a beauty salon based in the heart of Adamstown, Lucan,
                Co. Dublin. We offer a wide range of up to date beauty treatments six days a week to help you forget about
                everyday routine and experience the luxury of pampering yourself with help from our top technicians.
            </p>
            <p>
                Our Premium Brand beauty products are chosen to provide great results, whether it is skin care,
                eyebrow or eyelash treatments, nail treatments or relaxation that you are looking for.
            </p>
            <p>
                Our products are carefully chosen to suit any skincare, beauty or professional needs and our
                team of experienced therapists are available to give you the best advice. You can book your <strong>FREE</strong>
                consultation with us calling in to the salon, send us email, via social media channel like
                Facebook or simply call and we can help you to choose the best homecare system. Also, we provide our
                customers with <strong>FREE</strong> samples with every order so you can try our products and decide if you like them.
            </p>
            <p class="fw-bold">
                We are looking forward to see you and hear from you and we hope you will have a
                great experience with us!
            </p>
        </div>
        {% include 'includes/icons.html' %}
        {% include 'includes/footer.html' %}
    </div>
{% endblock %}