{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-4">
                <h2 class="logo-font">Thank You</h2>
                <hr class="w-30">
                <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
            <div class="row">
                <div class="col-12 col-lg-7"></div>
            </div>
        </div>
        {% include 'includes/icons.html' %}
        {% include 'includes/footer.html' %}
    </div>
{% endblock %}