/* font-family: 'Lato', sans-serif;
font-family: 'Teko', sans-serif; */

/* base html */

body {
    background: url('/media/background1.jpeg') no-repeat center center fixed;
    background-size: cover;
}

/* header */

.logo {
    font-family: 'Lato', sans-serif;
    font-size: 200%;
    color: black;
}