<div class="container-fluid bg-secondary footer">
    <div class="col text-center">
        <ul class="list-inline list-unstyled">
            <li class="list-inline-item">
                <p class="m-0 text-center text-white ficons">
                    Follow us:
                </p>
            </li>
            <li class="list-inline-item mx-4">
                <a href="https://facebook.com" target="_blank" rel="noopener" aria-label="Visit our Facebook page (open in a new tab)" class="nav-link text-white ficons">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li class="list-inline-item mx-4">
                <a href="https://twitter.com" target="_blank" rel="noopener" aria-label="Visit our Twitter page (open in a new tab)" class="nav-link text-white ficons">
                    <i class="fab fa-twitter-square"></i>
                </a>
            </li>
            <li class="list-inline-item mx-4">
                <a href="https://instagram.com" target="_blank" rel="noopener" aria-label="Visit our Instagram page (open in a new tab)" class="nav-link text-white ficons">
                    <i class="fab fa-instagram-square"></i>
                </a>
            </li>
            <li class="list-inline-item mx-4">
                <a href="https://youtube.com" target="_blank" rel="noopener" aria-label="Visit our Youtube chanal (open in a new tab)" class="nav-link text-white ficons">
                    <i class="fab fa-youtube-square"></i>
                </a>
            </li>
        </ul>
    </div>

</div>