<footer class="container-fluid">
    <div class="container">
        <section class="footer">
            <div class="row">
                <div class="col-12 mb-2 mt-2 text-center">
                    <h2 class="text-uppercase">Stay in touch:</h2>
                    <div class="row justify-content-center">
                        <hr class="col-3">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <h3>Social</h3>
                    <p>Keep up to date with all our latest offers</p>
                    <a href="https://www.facebook.com/GlamDolls-105004535497850" target="_blank"><i class="fab fa-facebook-square"></i> Follow us on Facebook!</a>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <h3>Subscribe</h3>
                    <p>Sign up to stay updated!</p>
                    <div id="mc_embed_signup" class="footer-form">
                        <form action="https://herokuapp.us14.list-manage.com/subscribe/post?u=cd4c733214ddaaff26dba29fc&amp;id=5759dc30b0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <div class="indicates-required">
                                    <span class="asterisk">*</span> indicates required
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                                    </label>
                                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                </div>
                            </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cd4c733214ddaaff26dba29fc_5759dc30b0" tabindex="-1" value=""></div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>
