{% load static %}

<div class="countener">
    <div class="container-fluid text-center mt-5 ">
        <p class="text-muted fs-3">all treatments</p>
        <h2>- What we can do for you -</h2>
    </div>
    <div class="container-fluid text-center icon-div">
        <ul class="list-inline list-unstyled">
            <li class="list-inline-item m-5">
                <a href="{% url 'nail_care' %}" class="nav-link">
                    <div class="card border border-white" style="width: 14rem;">
                        <img src="{% static 'media/nail-icon.jpeg' %}" class="card-img-top" alt="nailcare">
                        <div class="card-body text-center">
                            <h3 class="card-title text-black">Nail Care</h3>
                        </div>
                    </div>
                </a>
            </li>
            <li class="list-inline-item m-5">
                <a href="{% url 'eye_care' %}" class="nav-link">
                    <div class="card border border-white" style="width: 14rem;">
                        <img src="{% static 'media/eye-icon.png' %}" class="card-img-top" alt="eyecare">
                        <div class="card-body text-center">
                            <h3 class="card-title text-black">Eye Care</h3>
                        </div>
                    </div>
                </a>
            </li>
            <li class="list-inline-item m-5">
                <a href="{% url 'facial' %}" class="nav-link">
                    <div class="card border border-white" style="width: 14rem;">
                        <img src="{% static 'media/facial-icon.jpeg' %}" class="card-img-top" alt="facial">
                        <div class="card-body text-center">
                            <h3 class="card-title text-black">Facials</h3>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>