<div class="d-lg-none d-block">
    <ul class="list-inline list-unstyled text-end mt-4">
        <li class="list-inline-item">
            <div class="container-fluid dropdown">
                <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenu1" data-bs-toggle="dropdown" aria-expanded="false">
                    Menu
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li class="dropdown-item" ><a href="{% url 'home' %}" class="nav-link text-black">Home</a></li>
                    <li class="dropdown-item text-muted list-unstyled">Treatments
                        <a href="{% url 'treatments' %}" class="dropdown-item">All Treatments</a>
                        <a href="{% url 'nail_care' %}" class="dropdown-item">Nail Care</a>
                        <a href="{% url 'eye_care' %}" class="dropdown-item">Eye Care</a>
                        <a href="{% url 'facial' %}" class="dropdown-item">Facials</a>
                    </li>
                    <li class="dropdown-item text-muted list-unstyled">Profile
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'products' %}" class="dropdown-item">Gift Card</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </li>

        {% if request.user.is_authenticated %}
        <li class="list-inline-item">
          <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
              <div class="text-center">
                  <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                  <p class="my-0">
                      {% if total %}
                          ${{ total|floatformat:2 }}
                      {% else %}
                          $0.00
                      {% endif %}
                  </p>
              </div>
          </a>
        </li>
        {% endif %}
      </ul>
</div>