{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content="nails, nail care, eye care, waxing, facial, skincare, nail bar, feet care">
      <meta name="description" content="The Beauty Salon is offering a wide range of treatments using only the highest quality products.">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link href="https://fonts.googleapis.com/css2?family=Italianno&family=Lato&family=Teko:wght@300&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
      <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->

      <script src="https://kit.fontawesome.com/ef15e4e2a8.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Glam Dolls {% block extra_tile %}{% endblock %}</title>
  </head>
  <body>
    <!--header container-->
    <header class="container-fluid">
      <div class="row">
        <div class="col-6 text-center">
          <a href="{% url 'home' %}" class="nav-link">
            <h2 class="logo mt-3">Glam Dolls</h2>
          </a>
        </div>
        <div class="col-6 d-lg-block d-none">
          <ul class="list-inline list-unstyled text-center mt-4">
            <li class="list-inline-item"><a href="{% url 'home' %}" class="nav-link text-black">Home</a></li>
            <li class="list-inline-item dropdown">
              <div class="dropdown">
                <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                  Treatments
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li><a href="{% url 'treatments' %}" class="dropdown-item">All Treatments</a></li>
                  <li><a href="{% url 'nail_care' %}" class="dropdown-item">Nail Care</a></li>
                  <li><a href="{% url 'eye_care' %}" class="dropdown-item">Eye Care</a></li>
                  <li><a href="{% url 'facial' %}" class="dropdown-item">Facials</a></li>
                </ul>
              </div>
            </li>
            {% if request.user.is_authenticated %}
              <li class="list-inline-item">
                <a href="{% url 'account_logout' %}">
                    <button class="btn btn-white" type="button">
                      Logout
                    </button>
                  </a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'products' %}">
                  <button class="btn btn-white" type="button">
                    Gift Card
                  </button>
                </a>
              </li>
            {% else %}
              <li class="list-inline-item">
                <div class="dropdown">
                  <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    Gift Cards
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                  </ul>
              </li>
            {% endif %}
            {% if request.user.is_authenticated %}
            <li class="list-inline-item">
              <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                  <div class="text-center">
                      <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                      <p class="my-0">
                          {% if total %}
                              ${{ total|floatformat:2 }}
                          {% else %}
                              $0.00
                          {% endif %}
                      </p>
                  </div>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="col-6">
          {% include 'includes/sm-header.html' %}
        </div>
      </div>
    </header>

    <!--message container-->
    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    <!--page header block-->
    {% block page_header %}
    {% endblock %}

    <!--main block-->
    {% block content %}
    {% endblock %}

    <!--js block-->
    {% block postloadjs %}
    {% endblock %}

  </body>
</html>